


<!--
//*******************************************************************
//  COMP229   Personal Portfolio Website
//  File name       : app.js
//  Student’s Name  : Kai Hong Yeung
//  StudentID       : 301229539
//  Date            : 18 Feb 2022
//*******************************************************************
-->

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control"
                    id="usernameTextField"
                    placeholder="Enter Username"
                    name="username" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control"
                    id="password"
                    placeholder="Enter Password"
                    name="password" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control"
                    id="email"
                    placeholder="Enter Email Address"
                    name="email" required>
                </div>

                <div class="form-group">
                    <label for="displayName">Display Name: </label>
                    <input type="text" class="form-control"
                    id="displayName"
                    placeholder="Enter Display Name"
                    name="displayName" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Signup</button>
                

            </form>
        </div>

    </div>
</div>
